# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
ENV/

# Git
.git
.gitignore

# Tests
tests/
pytest.ini
.pytest_cache/

# Documentation
*.md

# CI/CD
.github/

# Kubernetes
k8s/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Screenshots
screenshots/